{% extends 'base.html'  %}
{% load static %}
{% block metadescription %}
    {{ product.desc |truncatewords:155 }}
{% endblock %}
{% block title %}
    {{ product.name }}--shop cart
{% endblock %}
{% block content %}
<div>
    <p class="text-center my_search_text">You have searched for: {{query}}</p>
</div>

<div class="container">
    <div class="row max-auto">
        {% for product in products %}
         <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
        <div class="card text-center" style="min-width: 18rem;">
                <a href="{{product.get_url}}"><img class="card" src="{{product.image.url}}" alt="{{product.name}}" style="height:330px;width:349px"></a>
                <div class="card-body">
                   <h4 >{{product.name}}</h4>
                    <h4>₹{{product.price}}</h4>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="mx-auto">
            <p class="text-center my_search_text">No Results found</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}